/* Font family */
* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    max-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
    /* width: 100%;  */
}

.title{
    font-family: "Knewave";
}

/* Screen Structure Size */
.container {
    border-style: double;
    border-color: grey;
    max-width: 720px;
    margin: 0 auto; 
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    width: 100%;
}

hr {
    width: 85%;
}

header {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    justify-content: center;
    align-items: center;
    display: flex;
}

header h1, button {
    flex:auto;
}

header button {
    max-width: 5vw;
    min-width: 10em;
    height: 20%;
}

.header-buttons {
    float: right;
    flex-direction: column;
    align-items: center;
}

.header-buttons img {
    float: right;
    width: 3em;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    background-color: #D9D9D9;
    border-color: rgb(68, 68, 68);
    border-width: 2px;
    border-radius: 30%;
}

.list-container {
    height: 70vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#list {
    display: inline-block;
    height: 70vh;
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}


ul li {
    list-style: none;
    display: inline-block;
}

#fileInput {
    display: none;
}

@media (max-width: 480px) {
    .element {
        width: 720px;
        min-height: 100vh;
    }
}

/* Item styling */
.checkbox {
    width: 24px;
    height: 24px;
}

.description {  
    grid-column-start: 3;
    grid-column-end: 5;
    border-width: 3px;
    border-radius: 10px;
    border-style: solid;
    padding: 1em;
    margin: 5px;
    font-family: Inter;
    word-wrap: break-word;
}

.dropdown-btn {
    background-color: transparent;
    border-width: 0px;
}

.due-date {
    display: block;
    margin: 5px;
    justify-self: end;
    font-family: Inter;

}

.task, .detail-container {
    display: grid;
    grid-template-columns: 10% 10% 50% 30%;
    width: 100%;
}

.task img{
    padding-left: 30%;
}

.taskName {
    padding-left: 1em;
    margin: 5px;
    font-family: Inter;
}
/* footer */
footer {
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px;
    font-size: 0.9em;
    margin-top: auto; /* Push footer to the bottom of the container */
}

.footer-content {
    background-color: #f2f2f2;
}

footer a {
    color: #0066cc; 
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.strikethrough {
    text-decoration: line-through;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .container {
        background-color: #081236;
        color: white;
    }
    body{
        background-color: #0C1121;
    }
}

@media (prefers-color-scheme: light) {
    .container {
        background-color: white;
        color: white;
    }
    body{
        background-color: white;
    }
}