/* Screen Structure Size */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    border-style:double;
    border-color: grey;
    height: 95vh;
    min-width: 480px;
}

hr {
    width: 85%;
}

header {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    justify-content: center;
    align-items: center;
    display: flex;
}

header h1, button {
    flex:auto;
}

header button {
    max-width: 5vw;
    min-width: 10em;
    height: 20%;
}

.list-container {
    height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
}

#list {
    display: inline-block;
    height: 70vh;
}


ul li {
    list-style: none;
}

.task, .detail-container {
    display: flex;
}

.task {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3em;
}

.taskName {
    padding-left: 1em;
}

#fileInput {
    display: none;
}

@media (max-width: 480px) {
    .element {
        width: 720px;
        min-height: 100vh;
    }
}